.banner {
  background-color: #000;
  color: #fff;
  .container {
    display: flex;
    align-items: center;
  }
  .avatar {
    width: 636px;
    height: 848px;
    margin-right: 24px;
  }
  .title {
    display: flex;
    flex-direction: column;
    width: 636px;
    h2 {
      font-size: 64px;
    }
    h1 {
      color: #00FFA3;
      font-size: 128px;
      text-align: end;
    }
    a {
      align-self: flex-end;
      display: flex;
      align-content: center;
      padding: 12px 24px;
      border: 0px;
      border-radius: 32px;
      background-color: #fff;
      .icon {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.introduction {
  background-image: url("../images/background-img.png");
  padding: 160px 0;
  .container {
    display: flex;
    justify-content: center;
  }
  .left-content {
    width: 526px;
    color: #fff;
    font-size: 24px;
    h2 {
      font-size: 64px;
    }
    .image-box {
      margin-top: 32px;
    }
  }
  .right-content {
    img {
      margin-left: 24px;
    }
  }
}

.about-me {
  padding: 160px 0;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 636px;
    height: 320px;
    margin-right: 134px;
    .card {
      width: 306px;
      height: 148px;
    }
    h2, h3 {
      font-size: 20px;
    }
    p {
      font-size: 16px;
    }
  }
  .right-content {
    width: 526px;
    height: 420px;
    h2 {
      font-size: 64px;
    }
    p {
      font-size: 24px;
    }
  }
}
.contact-me {
  padding: 96px 0;
  background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h2 {
    margin-right: 16px;
    color: #FFF;
    font-size: 64px;
  }
  .trending-flat {
    width: 100px;
    height: 100px;
    margin-right: 113px;
  }
  .app-icon {
    width: 162px;
    height: 162px;
    margin-right: 20px;
  }
  .app-icon:hover {
    box-shadow: 0px 0px 16px 3px rgba(144, 148, 255, 0.9);
    border-radius: 40px;
  }
}
.my-projects {
  padding: 160px 0;
  h2 {
    width: 746px;
    font-size: 64px;
    margin-left: auto;
  }
  p {
    font-size: 16px;
  }
  .rectangle10 {
    width: 416px;
    height: 530px;
    margin-right: 24px;
  }
  
  .content {
    display: flex;
  }
  .information {
    display: flex;
    width: 856px;
    margin-bottom: 28px;
    .rectangle15 {
      width: 196px;
      height: 196px;
      margin-right: 24px;
    }
  }
  .inf-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    a {
      box-sizing: border-box;
      display: flex;
      width: 185px;
      height: 48px;
      padding: 12px 24px;
      border-radius: 32px;
      background-color: #000;
      color: #fff;
      font-size: 16px;
    }
    img {
      width: 24px;
      height: 24px;
      margin-left: 4px;
    }
  }
  .rectangle14 {
    width: 306px;
    height: 306px;
    margin-right: 24px;
  }
  .rectangle29 {
    width: 526px;
    height: 306px;
  }
}