<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="banner">
      <div class="container">
        <img class="avatar" src="../assets/images/people.png" alt="">
        <div class="title">
          <h2>Hi<br/>I’m a front-end<br/>developer</h2>
          <h1>William</h1>
          <a href="#">contact me
            <img class="icon" src="../assets/images/arrow_outward.svg" alt="arrow icon">
          </a>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
